body{
    font-family: "Trocchi", serif;
    font-style: normal;
}
/* toggle button css */
#checkbox {
    display: none;
    }
    
    .toggle {
    position: relative;
    width: 30px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
    }
    
    .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);  
    background: white;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
    }
    
    /***** Spin Animation *****/
    
    .bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom,transform;
    transition-delay: calc(0s + 0.35s),0s;
    }
    
    .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
    }
    
    .bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: calc(0s + 0.35s),0s;
    }
    
    #checkbox:checked + .toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s,calc(0s + 0.35s);
    }
    
    #checkbox:checked + .toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
    }
    
    #checkbox:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s,calc(0s + 0.35s);
    }
/* main head content */
@media(min-width:600px){
    .mainhead{
     background-image: url('bikehome.png');
  background-size: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}
 
}
    .menu-toggle {
    cursor: pointer;
    display: none;
}

.menu-toggle span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px 0;
}
header {
    /* background-color: white; */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}
nav {
    display: flex;
   
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: color 0.3s;
}

.logo img {
    max-width: 10%;
    height: 10%;
    margin-top: 10px;
    margin-left: 150px;
}
.headSection{
    height: 54vh;
    width: 100%;
   
 }
 .heading{
    color:  rgb(254, 115, 1);
    margin-left: 13rem;
    margin-top: 11rem;
 }
 .headpara{
   color: white;
   margin-left: 13rem;
   margin-top: 2rem;
 }
.headbutton{
   background-color: white;
   color: black;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   margin-left: 13rem;
   margin-top: 2rem;
   width: 180px;
   height: 50px;
   border-radius: 12px;
}
.headbutton:hover{
    color: white;
    background-color:rgb(254, 115, 1);
    cursor: pointer;
    transition: 0.7s;
}
.bodyfirst{
    margin-left: 10rem;
    margin-top: 3rem;
    margin-right: 10rem;
}
.firstheading{
    font-weight: bold;
}
.firstpara{
    margin-top: 1rem;
}
.firstbox{
    display: flex;
    flex-wrap: wrap;
}
.firstbox1{
    width: 270px;
    height: auto;
    background-color:rgb(255, 159, 81);
    border-radius: 10px;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 14px;
}
.firstbox1:hover{
    background-color: rgb(254, 115, 1);
    color: white;
    transition: 0.5s;
}
.bodysecond{
    margin-left: 10rem;
    margin-top: 3rem;
    margin-right: 10rem;
}
.bodyimage{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: rgb(245, 246, 246);
    border-radius: 15px;
    border: none;
}
.card:hover{
    background-color: rgb(233, 233, 233);
    color: black;
    
}
.bodythird{
    margin-left: 10rem;
    margin-top: 3rem;
    margin-right: 10rem;
}

.card-title{
    font-weight: bold;
}
.cardimage{
    padding: 10px;
    border-radius: 10px;
}
.thirdbox{
    display: inline-flex;
    flex-wrap: wrap;
}
.thirdbox1{
    background-color:rgb(245, 246, 246);
    width: 400px;
    height: 200px;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 10px;
}
.thirdbox1:hover{
    background-color: rgb(233, 235, 235);
}
.thirdbox1 h2{
    font-weight: bold;
}
.bodyfourth{
    margin-left: 10rem;
    margin-top: 3rem;
    margin-right: 10rem;
}
.mainforthbox{
    display: flex;
    flex-wrap: wrap;
}
.fourthbox{
    display: flex;
    flex-direction: column;
}
.fourthbox1{
    background-color:rgb(245, 246, 246);
    width: 300px;
    height: 180px;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 10px;
}
.fourthbox1:hover{
    background-color: rgb(233, 235, 235);
}
.circle-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.bodyfifth{
    margin-left: 10rem;
    margin-top: 3rem;
    margin-right: 10rem;
}
.line {
    height: 2px;
    width: 350px;
    background-color: black;
    margin-right: 1px;
  }
.fifthbox{
    margin-top: 1rem;
}
.fifthbox h2{
    font-size: 20px;
}
.fifthbox1{
    width: 900px;
    background-color: white;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgb(245, 246, 246);
    margin-top: 1rem;
    
}
.fifthboxheading{
    height: auto;
    background-color: rgb(245, 246, 246);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 10px;
}
.fifthboxbtn{
   background-color: black;
   color: white;
   border: none;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   align-self: flex-end;
}
.fifthboxbtn:hover{
    color: black;
    background-color: white;
}
.fifthboxpara{
    padding: 10px;
    display: none;
}
.fifthboxpara.showpara{
    display: flex;
}

footer{
    background-color: #06505f;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.footerCon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerCon li{
    margin-left: 1rem;
}
.footerflex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerflex ul{
    margin-left: 10rem;
    margin-right: 10rem;
    
}
footer li{
    list-style: none;
    margin-top: 1rem;
    color: white;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.social span{
    margin-left: 1rem;
   }
   .i1{
       color: black;
   }
   .i2{
       color: #E4405F;
   }
   .i3{
    color: #0077B5;
   }
   .i4{
       color: #1877F2;
   }
/* responsive */

@media(max-width: 769px){
    body br{
        display: none;
    }
  .logo img {
    max-width: 20%;
    height: 20%;
    margin-left: 0;
    margin-top: 1px;
}
     .menu-toggle {
    display: block;

    }
    .nav {
      display: none;
      flex-direction: row;
      width: 90px;
      position: fixed;
      height: 100%;
      top: 90px;
      right: 0;
      padding: 10px;
      z-index: 1000;
      animation: rollout 0.2s ease-out; /* Define rollout animation */
      background-image: url('bikehomemobile.png');
      background-position:  left;
     
    }
    
    @keyframes rollout {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
    
    .nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column; 
    }
    .nav li {
        margin-bottom: 50px;
        margin-left: 1px;
    }
    .nav.show {
        display: flex;
    }

    .nav a {
        text-decoration: none;
        
    }
.mainhead{
background-image: url('bikehomemobile.png');
/* background-repeat: no-repeat; */
background-position:  center;
}
.headSection{
    min-height:110%;
    width: 100%;
 }
 .heading{
    color: rgb(254, 115, 1);
    margin-left: 2rem;
    margin-top: 14rem;
 }
 .headpara{
   color: white;
   margin-left: 2rem;
   margin-top: 2rem;
   color: white;
   font-weight: bold;
 }
.headbutton{
    margin-left: 2rem;
}
.bodyfirst{
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 1rem;
}
.bodysecond{
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 1rem;
}
.bodythird{
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 1rem;
}
.thirdbox1{
    width: auto;
    max-width: 300px;
}
.bodyfourth{
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 1rem;
}
.fourthbox{
    flex-direction: row;
}
.fourthbox1{
    width: auto;
}
.circle-container {
    flex-direction: column;
    align-items: start ;
  }
.line {
    height: 200px !important;
    width: 2px !important;
    background-color: black;
    margin-right: 0 !important;
    margin-left: 20px;
  }
 
  .bodyfifth{
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 1rem;
}
.fifthbox1{
    width: auto;
    min-width: auto;
    background-color: white;
    height: auto;
    border-radius: 10px;
    border: 1px solid rgb(245, 246, 246);
    
}
.fifthboxheading{
    height: auto;
    background-color: rgb(245, 246, 246);
    border-radius: 10px;
    display: flex;
    padding: 5px;
}
.footerCon{
    flex-wrap: wrap;
}
  .footerflex{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
}
.footerflex ul{
    margin-left: 0rem;
    margin-right: 0rem;
    
}
}